ul.white-font.navbar-nav > li > a {
  color: white !important;
}

ul.white-font.navbar-nav > li > a:hover {
  color: grey !important;
  transition: all 0.5s ease;
}

ul.black-font.navbar-nav > li > a {
  color: black !important;
}

button:focus {
  outline: 1px none !important;
}

.navbar {
  background-color: transparent;
  font-size: 1em;
  font-weight: 500;
  transition: all 1s ease;
}

.grey-transparent-background {
  background-color: rgba(48, 48, 48, 0.973);
}

.white-font {
  color: white !important;
}

.is-current {
  font-weight: 900;
  color: grey !important;
  /* text-decoration: underline !important; */
}  

.nav-link {
  font-size: 1.2em;
}

.navbar-toggler {
  border-color: transparent !important;
}