@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  color: white;
  background-color: rgba(0, 0, 0, 0.897);
  font-family: 'Roboto Slab', serif, sans-serif;
}

h2 {
  display: block;
  font-size: 1.6em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: 900;
}

h3 {
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

h4 {
  display: block;
  font-size: 0.74em;
  margin-block-start: 1.17em;
  margin-block-end: 1.17em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

h6 {
  display: block;
  font-size: 0.67em;
  margin-block-start: 2.33em;
  margin-block-end: 2.33em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.section {
  padding-top: 15%;
  padding-bottom: 20%;
}

.section-content {
  width: 100%;
  max-width: 1100px;
  margin: auto;
  padding-top: 40px;
  padding-left: 15px;
  padding-right: 15px;
}

.hr-sections {
  display: block;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  margin-inline-start: auto;
  margin-inline-end: auto;
  border: 0;
  height: 3px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(255, 255, 255), rgba(0, 0, 0, 0));
}

.hr-divider {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: auto;
  margin-inline-end: auto;
  border: 0;
  height: 5px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(255, 255, 255), rgba(0, 0, 0, 0));
}

.row {
  margin: auto;
}