#contact {
  padding-bottom: 22%;
}

.contacts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.contact-item {
  width: 4.5em;
  margin: 2.5em;
  text-align: center;
}

.contact-link {
  color: white;
  text-decoration: none !important;
}

.contact-link:hover {
  color: grey;
}