#contact {
  padding-top: 18%;
  padding-bottom: 20%;
}

.contacts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.contact-item {
  width: 4.5em;
  margin: 1em;
  text-align: center;
}

.contact-link {
  color: white;
  text-decoration: none !important;
}

.contact-link:hover {
  color: grey;
}

.fa {
  margin: 0;
}

.icon-text {
  margin: 0;
}